body{
	background-image:url("flags_bg.png");
}
h1{
	background-color:#fff;
	padding:0.2em 1em;
	border-bottom:1px solid #000;
	text-transform: none;
}
h1 span{
	font-size:0.3em;
	font-weight:normal;
	letter-spacing: 0.15em;
	display:block;
	float:right;
	padding-top:0.5em;
	padding-right:1em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.global-foot .layout-tight{
	padding:0.5em 1em;
}
.options{
	background-color:#fff;
	margin:2em 4em;
	padding:2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow:hidden;
	border:3px solid #333;
	min-height:600px;
}

#suppression-group label{
	display:inline-block;
	font-size: 2em;
	color:#000;
}
li label{
	font-size:1em;
	color:#000;
}
body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
legend{
	font-size:2.5em;
	padding-right:2em;
}

.teaser-footer img{
	max-height: 90px;
}