h1{
	background-color:#fff;
	padding:0.2em 1em;
}

.options{
	background-color:#fff;
	margin:1em;
	padding:1em;
}

body {
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}
